.postText::-webkit-scrollbar {
  width: 1px;
}

.postText::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 50%;
}

.postText::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
/* .postText::-webkit-scrollbar {
  width: 1px;
} */

/* .postText::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 50%;
}

.postText::-webkit-scrollbar-thumb:hover {
  background: #fff;
} */

.mySwiper2 {
  /* height: 80%; */
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.9;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next {
  top: 300px;
  color: rgba(255, 255, 255, 0.666);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(82, 174, 165, 0.5);
  transition: all ease-in-out 500ms;
}
.mySwiper2 .swiper-button-prev:hover,
.mySwiper2 .swiper-button-next:hover {
  color: #fefefe;
}

.mySwiper2 .swiper-slide {
  overflow: hidden;
}
