.swiper-button-prev,
.swiper-button-next {
  color: rgba(253, 255, 255, 0.5);
  transition: all ease-in-out 500ms;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #4c9c9a;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 900;
  font-size: 48px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5ab78b;
}
.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  width: 16px;
  height: 16px;
}

.HeroSwiper .swiper-slide.swiper-slide-active div {
  transform: scale(1.05);
  transition: transform 1200ms linear, filter 2500ms ease-in-out;
  filter: brightness(100%);
}

.HeroSwiper .swiper-slide div {
  transform: scale(1);
  transition: transform 1200ms linear, filter 2500ms ease-in-out;

  filter: brightness(60%);
}
.swiper-slide div {
  transform: scale(1);
}
