.swiper-button-prev,
.swiper-button-next {
  color: rgba(253, 255, 255, 0.5);
  transition: all ease-in-out 500ms;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #4c9c9a;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 900;
  font-size: 48px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5ab78b;
}
.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  width: 16px;
  height: 16px;
}

.HeroSwiper .swiper-slide.swiper-slide-active div {
  /* transform: scale(1.05);
  transition: transform 1200ms linear, filter 2500ms ease-in-out;
  filter: brightness(100%); */
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  filter: blur(0);
  transform: scale(1);
}

.HeroSwiper .swiper-slide div {
  /* transform: scale(1);
  transition: transform 1200ms linear, filter 2500ms ease-in-out;
  filter: brightness(60%); */
  transition: transform 1.5s ease, filter 1.1s ease-in-out;
  filter: blur(2px);
  transform: scale(1.05);
}
/* .swiper-slide div {
  transform: scale(1);
} */
